@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #09090b;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: floating 5s ease-in-out infinite;
}

.animate-float-slow {
  animation: floating 7s ease-in-out infinite;
}

.animate-float-fast {
  animation: floating 4s ease-in-out infinite;
}